.pizzaList
{
  list-style: none;
}

.listItem
{
  margin-bottom: 10px;
  border: 2px;
  border-style: groove;
}

.rowItem
{
  padding-top: 5px;
}

.orderControl
{
  justify-content: flex-end !important;
}
